<nav class="navbar fixed-top navbar-expand-lg navbar-dark  fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">DENNIS KAROBIA</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'project_shown' %}"> My works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Appetizrs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Soup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shushi rolls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Spaghetti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pasta</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

  <!--/.Navbar -->